.logged-out-block {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 50px;
}

.logged-out-block div {
    padding: 15px;
    border: 2px solid black;
}

.signed-in-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-button {
    border: none;
    color: white;
    background-color: #04aa6d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}

body {
    background-color: rgb(148, 141, 141);
}

h1 {
    text-align: center;
    color: rgb(56, 10, 10);
}
