<!DOCTYPE html>
<html>
    <body>
        <h1>Successfully logged in</h1>
        <div>
            <h3>Update your account info here</h3>
            <form id="update-info-form" name="update-info-form">
                <input
                    type="email"
                    id="update-info-email"
                    name="update-info-email"
                />
                <input
                    type="password"
                    id="update-info-pw"
                    name="update-info-pw"
                />
                <input
                    type="submit"
                    id="update-info-submit"
                    name="update-info-submit"
                />
            </form>
        </div>
        <script src="/static/scripts/login.js"></script>
    </body>
</html>
